
.cover-page-content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    background-image: url("/image/bank.jpg");
   }
   
 .cover-page-content h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 4rem;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
 }
 
 .cover-page-content a {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(255, 140, 0, 1);
    margin-top: 30px;
    color: #ffffff;
    transition: all 0.5s;
 }

 .cover-page-content a:hover {
    background-color: rgba(255, 140, 0, 0.85);
 }

 .cover-page-legal {
    margin: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
 }

 .cover-page-legal a:link, 
 .cover-page-legal a:visited {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
 }

 .cover-page-legal a:hover,
 .cover-page-legal a:active {
    color: rgba(255, 255, 255, 0.8);
 }

 .panel-content {
    padding: 30px;
    background-color: rgba(255, 140, 0, 1);
    height: 100%;
 }
 
 .panel-content h2 {
    
    font-size: 2rem;
 }
 .panel-content img {
    width: 100%;
 }
 .panel-content p.date {
    margin-bottom: 15px;
    font-weight: 600;
 }
 .panel-content p {
    margin-bottom: 15px;
 }
 
 .panel-padding {
    padding: 30px;
    background-color: white;
    border-radius: 4px;
 }

 